div.menu-box > ul {
    padding-left: 0px;
    background-color: #3D99CE;
    text-align: center;
}
div.menu-box > ul > li {
    display: inline-block;
    padding: 10px 20px;
}
div.menu-box > ul > li:hover {
    background-color: #2779BF;
}
div.menu-box > ul > li > a {
    color: white;
    text-decoration: none;
}
div.menu-box > ul > li > p {
    color: white;
    text-decoration: none;
}
div.home-text {
    align-content: center;
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 40%;
}
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.container {
    padding: 2px 16px;
}
.invisBtn{
    width: 100%;
    height: 100%;
}